
  <%= form_for [@organization, @farm] do |f| %>
    <% if @farm.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@farm.errors.count, "error") %> prohibited this farm from being saved:</h2>

        <ul>
        <% @farm.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= f.label :name %><br>      
      <%= f.text_field :name, class:"rounded-input w100p" %>
    </div>
    <div class="form-group">
      <%= f.label :size %> (in acres)<br>            
      <%= f.number_field :size, class:"rounded-input w100p" %>      
    </div>
    <div class="form-group">
      <label for="">Please select the pin tool and pin the farm's location</label>
      <%= f.number_field :lat %> <%= f.number_field :lng %>
    </div>
    <div class="form-group">
      <label for="">Draw out the shape of your farm by selecting the polygon tool and clicking the edges of your farm.</label>
      <div class="grey-border" >
        <button onclick="clearShape(); return false;">Clear shape</button>
        <div v-for="point in farmShape" class="ui equal width grid">
          <input id="business_loc" multiple="multiple" name="farm[points][]" type="hidden" style="color: rgb(175, 175, 175); " v-model="point">
          <div class="column">Lat: {{point.lat}} </div>
          <div class="column">Lng: {{point.lng}} </div>          
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit 'Submit', class:"btn ripple accent-bg" %>
    </div>
  <% end %>

