<div id="farm-new">
  <div id="map" class="absolute w100p h100p"></div>
  <!--<%= render "static_pages/nav" %>-->

  <div class="card raise-3 float-right w500">
    <div class="ui equal width grid card-top theme-bg">
      <div class="column">
        <%= image_tag 'farm128.png' %>
      </div>
      <div class="column">
        <h2>New Farm</h2><br>
        <div>Double-click to zoom in</div>
      </div>
    </div>
    <%= render 'form' %>
    
  </div>

  <%= link_to 'Back', organization_farm_and_labour_path %>
</div>

<%= render 'scripts' %>