<div id="farm-show" class="green-bg h100p">
  <div id="map" class="w100p h500 smooth"></div>
  <div class="pad-lr-20p">
    <div id="main-card" class="card neg-marg-top100 w100p raise-2">
      <div id="farm-info">
        <div class="fab fab-tr raise-3" v-on:click="showEditForm();">
          <i class="ui write icon"></i>
        </div>
        <h2>Farm Information</h2>
        <p class="text2"><%= @farm.name %></p>
        <p class="text15"><%= @farm.size %> Acre(s)</p>
        <% if @farm.farmer %>
          <p><%= @farm.farmer.name %></p>
        <% else %>
          <h3>This farm has no farmer</h3>
        <% end %>
        <p><span class="btn red-bg" v-on:click="showDeleteModal();">Delete</span></p>
      </div>
      <div id="farm-edit" hidden>
        <div class="fab fab-tr raise-3" v-on:click="showEditForm();">
          <i class="arrow left icon"></i>
        </div>
        <h3>Farm edit</h3>
        <%= render 'form' %>
      </div>
    </div>
  </div>
  <div id="farm-delete" class="ui small modal">
    <div class="header">Header</div>
    <div class="content">
      <p>Are you sure you want to delete this farm?</p>
    </div>
    <div class="actions">
      <div class="ui green-bg button" v-on:click="deleteFarm()" >Yes</div>
      <div class="ui red-bg button" v-on:click="showDeleteModal()">No</div>
    </div>
    <p></p>
  </div>
</div>

<script>
  var map;
  var shape;
  var marker;

  var farmJSON = <%= @farm.to_json.html_safe %>;
  if (Boolean(farmJSON.lat))
    farmJSON.lat = null;
  if (Boolean(farmJSON.lng))
    farmJSON.lng = null;

  window.__FORM__ = {
    farm: farmJSON
  }

   var farmShow = new Vue({
    el: "#farm-show",
    data: {
      farm: farmJSON,
      lat: null,
      lng: null,
      farmShape: [], 
      estimatedAcreage: 0,
    },
    methods: {
      showEditForm: function(){
        var first = $('#farm-edit').is(':visible') ? '#farm-edit' : '#farm-info';
        var second = $('#farm-edit').is(':visible') ? '#farm-info' : '#farm-edit';
        console.log('first: ' + first +", second: " + second);
        $(first).toggle('fast', function(){
          $(second).toggle('fast', function(){
            if (second == "#farm-edit"){
              $('#map').addClass("h700");
              createEditablePolygon(farmShow.farm.points);
            }if (first == "#farm-edit"){
              $('#map').removeClass("h700");
              shape.setMap(null) 
            }
          });
        });
      },
      showDeleteModal: function(){
        $('#farm-delete.modal').modal('toggle');
      },
      getFarms: function(){
        var that = this;
        $.ajax({
          url: '/organizations/<%= @organization.id %>/farms.json',
          success: function(res){
            createPolygon(farmShow.farm.points);  
            res.forEach(function(obj){
              createPolygon(obj.points);
            })
          }
        })
      },
      deleteFarm: function(){
        $.ajax({
          url: '/organizations/<%= @organization.id %>/farms/<%= @farm.id %>.json',
          method: "DELETE",
          success: function(res){
            if(Boolean(document.referrer)){
              window.location = document.referrer;
            }else{
              window.history.back();
            }
          }, 
          error: function(err){ console.log(err.message)}
        });
      },
      isMarkerInPolygon: function(){
        if (Boolean(marker) && Boolean(shape))
          return google.maps.geometry.poly.containsLocation(marker.position, shape);
        else
          return true;
      }
    },
    watch: {
      'farm.lat': function (val, oldVal){
        marker.position = new google.maps.LatLng(val, marker.position.lng());
        marker.setMap(map);
      },
      'farm.lng': function (val, oldVal){
        marker.position = new google.maps.LatLng(marker.position.lat(), val);
        marker.setMap(map);
      }
    }
  });
  farmShow.getFarms();

  var coord = Boolean(farmShow.farm.points[0]) ? farmShow.farm.points[0] : {lat: -4, lng: 0};
  var zoom = (Boolean(farmShow.farm.points[0]) ? 12 : 3);
  var vueModel = farmShow;
  <%= render 'map' %>

  $('form').submit(function() {
    //console.log();
    $.ajax({
      url: '/organizations/<%= @organization.id %>/farms/<%= @farm.id %>.json',
      data: ($('form').serializeObject()),
      method: "PUT",
      success: function(res){
        location.reload();
      }, 
      error: function(err){ console.log(err.message)}
    });
    return false;
  });

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC2NxLOf_zTbaq0pyoeRLfBFTX4Q55KWuo&libraries=drawing&callback=initMap"
async defer>
</script>
