<div class="full-height">
	<div class="stat-bar green-bg padb3">
		<div class="w400 ui grid">
      <div class="four wide column">
        <%= image_tag @user.image.url(:thumb), class:"circle w100p" %>
        <!--<%= image_tag "farmer64.png", class:"wmax100 circle" %>-->
      </div>
      <div class="twelve wide column">
        <div class="text15"><%= @user.name %></div>
        <div class="text1"><%= @user.email %></div>
        <div @click.prevent="openEditModal()"><i class="ui write icon"></i> Edit</div>
      </div>
    </div>
		<br>
	</div>
	<div class="card raise-1 hcenter neg-marg-top3 w90p">
		<div class="ui equal width centered grid">
			<% if @user.admin? %>
				<div class="column">
					<div class="card hover raise-1 hover-raise center">
						<div class="card-head">Users in system</div>
						<div class="card-body">
							<% @users.each do |u| %>
								<div class="list-item ripple ui grid">
									<div class="w50 three wide column"><%= image_tag 'man32.png' %></div> 
									<div class="twelve wide column">
										<div class="text12"><%= u.name %></div>
										<div class="theme-text1"><%= u.email %></div>
									</div>
								</div>					
							<% end %>
						</div>					
						<div class="text-center">
							<%= link_to "See all", users_path %>
						</div>
					</div>				
				</div>
			<% end %>
			<div class="column">
				<div id="orgs">
						<div class="title">Organizations you work with</div>
						<hr>
						<div v-if="organizations.length < 1">
							<h3 >You have no organizations</h3>
							<%= link_to "new", new_organization_path %>
						</div>
						<div class="ui grid container">	
							<div v-for="osd in organizations" class="eight wide column">
								<a :href="'organizations/' + osd.id">
									<div class="card raise-2 w200 text-center org-card hover-raise">
										<div class="card-image">
											<%= image_tag 'cocoa.jpg' %>
										</div>
										<div class="card-content">
											<p class="theme-text1">{{osd.name}}</p>
											<p class="theme-text1">{{osd.country}}</p>
										</div>
									</div>			
								</a>				
							</div>
							<div class="six wide column">
								<div class="h200 w200 extra">
									<div class="text-center">ADD</div>							
								</div>
							</div>		 
						</div>
						<%= link_to "View all organizations", organizations_path, class:"btn ripple" %>
					</div>
			</div>
		</div>
	</div>
</div>

<script>
	dashboard = new Vue({
	  el: '#orgs',
	  data: {
	    organizations: [{name:"dfjdfhdjfhdjfhdfjh"},
	    ],
	  },
	  methods:{
	  	getOrgs: function(){
	  		var that;
		    that = this;
		    $.ajax({
		      url: '/dashboard.json',
		      success: function(res) {
		        that.organizations = res.organizations;
		      }
		    });
	  	}
	  },
	  ready: function() {
	    getOrgs();
	  }
	});
	dashboard.getOrgs();
</script>