<div class="h100p w100p theme-grad absolute">
</div>
<div>
  <h1>..</h1>
  <%= image_tag 'ghalani_dark_trans_600.png', class:"absolute brand-fade w500 wmax70" %>
  <%= form_tag sessions_path do %>
    <div class="card raise-5 hcenter w400 wmax90 top-marg-20vh">
      <div class="form-group">
        <label class="label">Email</label><br>
        <%= text_field_tag :email, "", class:"input classic", placeholder:"eg. name@website.com", required: true %>
      </div>
      <div class="form-group">
        <label class="label">Password</label><br>
        <%= password_field_tag :password,"", class: "input classic", required: true %>
      </div>
      <!--<div class="form-group">
      </div>-->
      <%= submit_tag 'Log in', hidden:"true" %>
      <div class="overflow-submit dark-green-bg pad1 hand ripple" onclick="document.forms[0].submit();">LOG IN</div>
    </div>
  <% end %>
</div>
