<div id="stock-management">
  <%= render "static_pages/nav" %>
  <div class="green-bg pad1 padb3">
    <%= render 'organizations/stock_management/stat_bar'%>
  </div>
  <div class="">
    <div class="ui grid">
      <div class="sixteen wide tablet four wide computer column">
        <div class="ui grid">
          <div class="eight wide tablet sixteen wide computer column">
            <div class="card raise-1 w100p marg-tb">
              <div class="card-top">
                <h4>Stock types
                  <span class="right-icon-grey" @click="toggleNewStockTypeModal()" ><i class="plus icon"></i></span>
                </h4>
                <hr>
              </div>   
              <div>
                <div v-if="stockTypes.length < 1">
                  No Stock types on your system
                </div>            
                <div v-if="stockTypes.length > 0">
                  <div v-for="st in stockTypes" class="list-item">
                    {{st.name}} {{st.unit}}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="eight wide tablet sixteen wide computer column">
            <div class="card raise-1 w100p marg-tb">
              <div class="card-top">
                <h4>Stock items 
                  <span class="right-icon-grey" @click="toggleNewStockItemModal()" ><i class="plus icon"></i></span>
                </h4>
                <hr>
              </div> 
              <div>
                <div v-if="stockItems.length < 1">
                  No Stock items on your system
                </div>            
                <div v-if="stockItems.length > 0">
                  <div v-for="si in stockItems" class="list-item">
                    {{si.name}} {{si.unit}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="sixteen wide tablet twelve wide computer column">
        <div class="card raise-1 w100p marg-tb">
          <div class="card-top">
            <h4>
              <a id="stored-item" class="item pad1 menu-item">Stored</a>
              <a id="incoming-item" class="active item pad1 menu-item">Incoming</a>
              <a id="orders-item" class="item pad1 menu-item">Orders</a>
            </h4>
            <hr>
          </div> 
          <div>
            <div id="stored-item-panel" class="ui active tab">              
              <%= render 'organizations/stock_management/stored_item' %>
            </div>
            <div id="incoming-item-panel" class="ui tab">
              <%= render 'organizations/stock_management/incoming_item' %>
            </div>
            <div id="orders-item-panel" class="ui tab">
              <%= render 'organizations/stock_management/orders_item' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="new-stock-type-modal" class="ui small modal">
    <div class="content">
      <h4>New stock type</h4><hr>
      <div class="form-group">
        <label>Name</label><br>
        <input class="classic" type="text" v-model="newStockType.name" placeholder="fertilizer, aerosol, liquid, tool, machine, etc...">
      </div>
      <div class="form-group">
        <label>Unit of measurement </label><br>
        <input class="classic" type="text" v-model="newStockType.unit" placeholder="(e.g. Kilogram, bags, packs, bottles etc...">
      </div>
    </div>
    <div class="actions">
      <div class="ui button accent-bg" @click="addStockType()">Create</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>
  <div id="new-stock-item-modal" class="ui small modal">
    <div class="content">
      <h4>New stock item</h4>
      <div class="form-group">
        <label>Stock type</label><br>
        <div v-if="stockTypes.length < 1" class="ui button accent-bg" @click="toggleNewStockTypeModal()">
          Create new Stock type
        </div>
        <select v-if="stockTypes.length > 0" v-model="newStockItem.stock_type_id" class="classic">
          <option v-for="stockType in stockTypes" v-bind:value="stockType.id">{{stockType.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Name</label><br>
        <input class="classic" type="text" v-model="newStockItem.name" placeholder="Nordox, 24 pack Coca cola, etc.">
      </div>
      <div class="form-group">
        <label>Cost</label><br>
        <input class="classic" type="number" v-model="newStockItem.cost" placeholder="Cost per unit">
      </div>
      <div class="form-group">
        <label>Minimum quantity</label><br>
        <input class="classic" type="number" v-model="newStockItem.minimum_quantity" placeholder="Minimum quantity to alert for refill">
      </div>
    </div>
    <div class="actions">
      <div class="ui button accent-bg" @click="addStockItem()">Create</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>
  <div id="new-storage-modal" class="ui small modal">
    <div class="content">
      <h4>New storage</h4>
      <div class="form-group">
        <label>Name</label><br>
        <input class="classic" type="text" v-model="newStorage.name" placeholder="Warehouse 1, Room x2, etc.">
      </div>
      <div class="form-group">
        <label>location</label><br>
        <input class="classic" type="number" v-model="newStorage.location">
      </div>
    </div>
    <div class="actions">
      <div class="ui button accent-bg" @click="addStorage()">Create</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>
  <div id="new-stock-source-modal" class="ui small modal">
    <div class="content">
      <h4>New storage</h4>
      <div class="form-group">
        <label>Name</label><br>
        <input class="classic" type="text" v-model="newStockSource.name" placeholder="eg. Fertilizer depot 1">
      </div>
      <div class="form-group">
        <label>Email</label><br>
        <input class="classic" type="email" v-model="newStockSource.email" placeholder="eg. name@example.com">
      </div>
      <div class="form-group">
        <label>phone</label><br>
        <input class="classic" type="tel" v-model="newStockSource.phone" placeholder="eg. 02013235648">
      </div>
      <div class="form-group">
        <label>Address</label><br>
        <input class="classic" type="text" v-model="newStockSource.address" placeholder="1st street, city-name">
      </div>
    </div>
    <div class="actions">
      <div class="ui button accent-bg" @click="addStockSource()">Create</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>
  <div id="new-stored-stock-modal" class="ui small modal">
    <div class="content">
      <h4>New stock item</h4>
      <div class="form-group">
        <label>Incoming stock</label><br>
        <div v-if="incomingStocks.length < 1" class="ui button accent-bg">
          The are no stock items to add
        </div>
        <select v-if="incomingStocks.length > 0" v-model="newStoredStock.incoming_stock_id" class="classic">
          <option v-if="(incomingStock.quantity - incomingStock.quantity_stored) > 0"
            v-for="incomingStock in incomingStocks" 
            v-bind:value="incomingStock.id">
            {{incomingStock.quantity - incomingStock.quantity_stored}} {{incomingStock.stock_item.name}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Storage</label><br>
        <div v-if="storages.length < 1" class="ui button accent-bg" @click="toggleNewStorageModal()">
          Create new Storage
        </div>
        <select v-if="storages.length > 0" v-model="newStoredStock.storage_id" class="classic">
          <option v-for="storage in storages" v-bind:value="storage.id">{{storage.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Quantity</label><br>
        <input class="classic" type="number" v-model="newStoredStock.quantity" placeholder="How much are you storing?">
      </div>
    </div>
    <div class="actions">
      <div class="ui button accent-bg" @click="addStoredStock()">Create</div>
      <div class="ui cancel button">Cancel</div>
    </div>
  </div>
</div>
<%= render 'organizations/stock_management/scripts' %>