<div id="stock-management">
  <%= render "static_pages/nav" %>
  <div class="green-bg pad1 padb3">
    <%= render 'organizations/stock_management/stat_bar'%>
  </div>
  <div class="">
    <div class="ui grid">
      <div class="sixteen wide tablet four wide computer column">
        <div class="ui grid">
          <div class="eight wide tablet sixteen wide computer column">
            <%= render 'organizations/stock_management/stock_type'%>
          </div>
          <div class="eight wide tablet sixteen wide computer column">            
            <%= render 'organizations/stock_management/stock_item'%>
          </div>
        </div>
      </div>
      <div class="sixteen wide tablet twelve wide computer column">
        <div class="card raise-1 w100p marg-tb">
          <div class="card-top cyan-bg">
            <h4>
              <a id="stored-item" class="white-tab active item pad1 menu-item">Stored</a>
              <a id="incoming-item" class="white-tab item pad1 menu-item">Incoming</a>
              <a id="orders-item" class="white-tab item pad1 menu-item">Orders</a>
            </h4>
          </div> 
          <div>
            <div id="stored-item-panel" class="ui active tab">              
              <%= render 'organizations/stock_management/stored_item' %>
            </div>
            <div id="incoming-item-panel" class="ui tab">
              <%= render 'organizations/stock_management/incoming_item' %>
            </div>
            <div id="orders-item-panel" class="ui tab">
              <%= render 'organizations/stock_management/orders_item' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'organizations/stock_management/scripts' %>