<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group ">
    <div class="w100p-rounded">
      <%= f.hidden_field :app_role, value: "company" %>
      <%= f.text_field :email, class:"form-control", placeholder:"Email", required: true %>
    </div>
  </div>

  <div class="form-group ">
    <div class="w100p-rounded">
      <%= f.text_field :fname, class:"form-control", placeholder:"First name", required: true %>
    </div>
  </div>

  <div class="form-group ">
    <div class="w100p-rounded">
      <%= f.text_field :lname, class:"form-control", placeholder:"Last name", required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="w100p-rounded">
      <%= f.password_field :password, class: "form-control", placeholder: 'Password', id:'pwd1', required: true %>
    </div>
  </div>

  <div class="form-group">
    <div class="w100p-rounded">
      <%= f.password_field :password_confirmation, class: "form-control", placeholder: 'Confirm password', required: true, id:'pwd2' %>
    </div>
  </div>
  <%= f.hidden_field :role, value: "admin" %>

  <div class="form-group text-center">
    <%= f.submit 'REGISTER', onclick:"return verPass();", class:"ui button green-bg" %>
  </div>
<% end %>
