<h3>Password reset</h3>
<div class="card raise-1">
  <%= form_tag activate_with_password_path do %>
    <div class="form-group ">
      <div class="w100p-rounded">
        <%= hidden_field_tag :email, @user.email %>
        <%= hidden_field_tag :id, @token %>
        <%= password_field_tag :password, "", id:'pwd1', placeholder:"Password", required: true %>
      </div>
    </div>
    <div class="form-group ">
      <div class="w100p-rounded">
        <input type="password" id='pwd2' placeholder="Confirm password" required=true>
      </div>
    </div>
    <div class="form-group text-center">
      <%= submit_tag 'Activate', onclick:"return verPass();", class:"ui button green-bg" %>
    </div>
  <% end %>
</div>

<script>
  function verPass() {
    var pass1 = $("#pwd1");
    var pass2 = $("#pwd2");
    var ok = true;
    if (pass1.val() != pass2.val()) {
        alert("Passwords do not match...");
        pass1.css("borderColor", "#E34234");
        pass2.css("borderColor", "#E34234");
        ok = false;
    }
    return ok;
  }
</script>