<div id="farm-labour">
	<%= render "static_pages/nav" %>
	<div class="stat-bar green-bg">
		<div class="ui container padb100">
			<div class="text15"><%= @organization.name %></div><br>
			<div class="text2">Farmer and labour management</div>
		</div>
	</div>
	<div class="top-neg-marg100">
		<div class="ui centered container grid h400">
			<div class="three wide column row computer only">
				<div class="card raise-1 w90p">
					<div class="ui vertical fluid tabular menu">
						<a class="item side-menu-item active" name='farmer-item'>
							Farmers
						</a>
						<a class="item side-menu-item" name='farm-item'>
							Farms
						</a>
						<!--<a class="item side-menu-item" name='labourer-item'>
							Labourers
						</a>-->
					</div>
				</div>
			</div>
			<!--<div class="one wide column tablet mobile only">
				Three dots
			</div>-->
			<div class="w100p eleven wide column row">
					<div class="card raise-1 w100p">
						<div id="farmer-item-panel" class="ui active tab">
							<div class="row" style="text-align: right;">
								<span>
									<select id="farmer-filter1" class="rounded-input" hint="Filter by" v-model="searchBy">
										<option v-for="option in searchKeys" v-bind:value="option">
											{{ option }}
										</option>
									</select>
									<input id="farmer-filter2" class="rounded-input" @keyup.enter="farmerFilter">
								</span>
								<hr>
							</div>
							<table-farmer :farmers="filteredFarmers"></table-farmer>					
							<%= link_to new_organization_farmer_path(@organization) do %>
								<div class="fab fab-br raise-3 ripple">
										<i class="ui add icon"></i>
								</div>
							<% end %>
						</div>
						<div id="labourer-item-panel" class="ui tab">
							<div class="">
								<table-labourer :labourers="filteredLabourers"></table-labourer>								
								<%= link_to new_organization_labourer_path(@organization) do %>
									<div class="fab fab-br raise-3 ripple">
										<i class="ui add icon"></i>
								</div>
								<% end %>
							</div>				
						</div>
						<div id="farm-item-panel" class="ui tab">
							<div class="">
								<table-farm :farms="filteredFarms"></table-farm>
								<%= link_to new_organization_farm_path(@organization) do %>
									<div class="fab fab-br raise-3 ripple">
										<i class="ui add icon"></i>
								</div>
								<% end %>
							</div>				
						</div>
					</div>

			</div>
		</div>
	</div>
	<%= render "organizations/farm_and_labour/farmer_info_modal" %>
	<%= render "organizations/farm_and_labour/labourer_info_modal" %>
	<%= render "organizations/farm_and_labour/farm_info_modal" %>
</div>
<%= render 'organizations/farm_and_labour/scripts' %>