<%= form_for [@organization, @farmer] do |f| %>
  <% if @farmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@farmer.errors.count, "error") %> prohibited this farmer from being saved:</h2>

      <ul>
      <% @farmer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group w100p-rounded">
    <label>First name</label><br>
    <%= f.text_field :fname, "v-model":"fname" %>
  </div>
  <div class="form-group w100p-rounded">
    <label>Last name</label><br>
    <%= f.text_field :lname, "v-model":"lname" %>
  </div>
  <div class="form-group w100p-rounded">
    <label>Phone</label><br>
    <%= f.text_field :phone, "v-model":"phone" %>
  </div>
  <div class="form-group">
    <label>Gender</label><br>
    <%= f.radio_button :gender, :female, checked: @farmer.gender? %> 
    <%= f.label :gender, "Female" %>
    <%= f.radio_button :gender, :male, checked: @farmer.gender? %> 
    <%= f.label :gender, "Male" %>
  </div>
  <div class="form-group w100p-rounded">
    <label>Hightest education</label><br>
    <%= f.text_field :educational_level %>
  </div>
  <div class="form-group w100p-rounded">
    <label>Number of sharecropper on his/her land</label><br>
    <%= f.text_field :num_of_sharecroppers %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Create farmer", class:"btn ripple accent-bg raise-1" %>
  </div>
<% end %>
