<div id="farmer-show" >
	<%= render "static_pages/nav" %>
  <div class="green-bg pad1 padb3">
    stats
  </div>
  <div id="farmer-card" class="card no-pad raise2-1 h400-min text12 dark-text1 w90p hcenter neg-marg-top3">        
    <div id="farmer-holder" class="ui grid h400-min">
      <div class="six wide computer sixteen wide tablet column">
        <div class="card-menu-tr text15" v-on:click="showDeleteModal();"><i class="trash icon"></i></div>
        <div class="ui top attached tabular menu">
          <div id="item1" class="active item bottom-border">Info</div>
          <div id="item2" class="item bottom-border">Farms</div>
        </div><br>
        <div id="item1-panel" class="ui bottom attached active tab">
          <div class="four wide column row text-center">
            <div class="four wide column">
              <%= image_tag @farmer.image.url(:thumb), class:"circle" %>
            </div>
            <div class="twelve wide column">
              <div class="text15">{{farmer.fname}} {{farmer.lname}}</div><br>
              <div class="text1">{{farmer.phone}}</div><br>
              <div @click.prevent="toggleEditModal()" class="ui button no-bg"><i class="ui write icon"></i> Edit</div>
            </div>
          </div>
        </div>
        <div id="item2-panel" class="ui bottom attached tab">
          <div v-if="farms.length < 1">This farmer has no farm</div>
          <div class="w200" v-for="farm in farms">   
            <a v-bind:href="'/organizations/<%= @organization.id %>/farms/' + farm.id" class="card raise-1" >        
              <div>{{farm.name}}</div>
              <div>{{farm.size}} Acres</div>
            </a>
          </div>
          <div id="new-farmer-but" 
            class="fab fab-br computer only fab-overflow-right raise-3 ripple" 
            v-on:click="hideFabShowNewFarm">
            <i class="ui add icon"></i>
          </div>
        </div>     
      </div>
      <div class="ten wide computer sixteen wide tablet column accent-dark-bg ">
        Side right
      </div>
    </div>
    <div id="new-farm-modal" class="ui small modal pad1">
      <div id="farm-new">
        <h3>New Farm</h3>
        <hr>  
        <div class="form-group w100p-rounded"  >
          <label>Name</label><br>
          <input type="text" v-model="newFarm.name" >
        </div>
        <div class="form-group w100p-rounded">
          <label>Size (in Acres)</label> <br>        
          <input type="text" v-model="newFarm.size" >
        </div>
        <div class="form-group"></div>
        <button v-on:click="createNewFarm" class="button" >Submit</button>
      </div>
    </div>    
    </div>
  </div>
  <div id="farmer-delete" class="ui small modal">
    <div class="content">
      <p>Are you sure you want to delete this farmer?</p>
      <p><h1>All farms under this farmer <strong>(and data)</strong> will be deleted</h1></p>
    </div>
    <div class="actions">
      <div class="ui green-bg button" v-on:click="deleteFarmer()" >Yes</div>
      <div class="ui red-bg button" v-on:click="showDeleteModal()">No</div>
    </div>
    <p></p>
  </div>
</div>

<div id="edit_form" class="ui small modal">
  <div class="content">
    <h3>Edit Farmer</h3>
    <div>
      <div class="form-group w100p-rounded">
        <label for="">First name</label>
        <input type="text" v-model="farmerCopy.fname">
      </div>
      <div class="form-group w100p-rounded">
        <label for="">First name</label>
        <input type="text" v-model="farmerCopy.lname">
      </div>
      <div class="form-group w100p-rounded">        
        <label for="">Phone</label>
        <input type="text" v-model="farmerCopy.phone">
      </div>
      <div class="form-group">
        <label>Gender</label><br>
        <%= radio_button_tag :gender, :female, "v-model":"farmerCopy.gender", required: true %> 
        <label>Female</label>
        <%= radio_button_tag :gender, :male, "v-model":"farmerCopy.gender", required: true %> 
        <label>Male</label>
      </div>
      <div class="form-group w100p-rounded">
        <label>Hightest education</label><br>
        <select name="" id="" v-model="farmerCopy.educational_level">
          <% Farmer.educational_levels.keys.to_a.map do |w| %>
            <option value="<%= w %>"><%= w.humanize %></option>
          <% end %>
        </select>        
      </div>
    </div>
  </div>
  <div class="actions">
    <div class="ui button green-bg" v-on:click="updateFarmer()">Update</div>
    <div class="ui button cancel">Cancel</div>
  </div>
</div>

<%= render 'scripts' %>
