<div id="user-role">
  <%= render "static_pages/nav" %>
  <div class="green-bg pad1 padb3">
    Stats
  </div><br>
  <div class="card raise-1 w90p hcenter neg-marg-top3">
    <div class="ui top attached tabular menu">
      <div id="users-tab" class="active item">Users</div>
      <div id="roles-tab" class="item">Roles</div>
    </div>
    <div id="users-tab-panel" class="ui bottom attached tab active">
      <div class="text-center" v-if="users.length < 1">
        <%= image_tag 'users128.png' %>
				<h3 >There is no user in this organizations.</h3>
      </div>
      <tbody-user :users="filteredUsers"  v-if="users.length > 0"></tbody-user>       
      <div class="ui button green-bg" v-on:click="toggleNewUserModal()">
        Add User
      </div>
    </div>
    <div id="roles-tab-panel" class="ui bottom attached tab">
      <h3>This is where you specify the level of access of a role</h3>
      <hr>
      <div class="ui equal width grid">
        <div class="column">
          <div v-if="roles.length < 1" class="text-center">
            <%= image_tag 'users128.png' %>
            <h3 >This organizations has no role specified.</h3><br>
          </div>
          <div v-for="role in roles" class="list-item" v-on:click="selectRole(role)">
            {{role.name}}
          </div>
          <div class="ui button green-bg" v-on:click="toggleNewRoleModal()">
            Add Role
          </div>
          <div id="new-user-modal" class="ui modal">
            <div class="content">              
              <h3>New User</h3>
              <div class="form-group w100p-rounded">
                <label for="">First name</label><br>
                <input type="text" v-model="newUser.fname">
              </div>
              <div class="form-group w100p-rounded">
                <label for="">Last name</label>
                <input type="text" v-model="newUser.lname">              
              </div>
              <div class="form-group w100p-rounded">
                <label for="">Phone</label>
                <input type="text" v-model="newUser.phone">              
              </div>
              <div class="form-group w100p-rounded">
                <label for="">Email</label>
                <input type="text" v-model="newUser.email">              
              </div>
            </div>
            <div class="actions">
              <div class="ui button green-bg" v-on:click="createUser();">Add</div>
              <div class="ui button red-bg">Cancel</div>
            </div>
          </div>
        </div>
        <div class="column">
          <p>Permissions</p>
          <!--<p>{{selectedRole.permissions}}</p>-->
          <div v-for="(permission, key) in selectedRole.permissions" class="grey-border1 pad1" >
            <h3>{{key}}</h3>
            <p>{{permission}}</p>

          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="user-info-modal" class="ui modal">
    <div class="ui equal width grid">
      <div class="column text-center">
        <%= image_tag 'farm128.png', class:"circle shad", alt:"User image" %>
      </div>
      <div class="column text12">
        <h2>User information</h2>
        <div class="text2">{{userInfo.name}}</div><br>
        <div>{{userInfo.size}}</div>
      </div>
    </div>
  </div>

  <div id="change-role-modal" class="ui small modal pad1">
    <p><h3>Please choose a role</h3></p>
    <div v-for="role in roles" class="list-item" @click.prevent="addRole(role)">
      {{role.name}}
    </div>
  </div>

  <div class="ui small modal" id="new-role-modal">
    <div class="content">
      <p><input type="text" placeholder="Role name" v-model="newRole.name"></p>
      <hr>
      <p>Permissions</p>
      <p>By checking a property, you are giving a role the ability to do what is checked</p>
      <div class="grey-border1 pad1">
        <div class="row">Farmer and labour</div>
        <div class="ui stackable four column grid">
          <div class="column">
            <div class="">
              <input type="checkbox" id="mike" value="Mike" v-model="newRole.permissions.organizations.farm_and_labour">
            </div>
            <div class="">See index on farm and labour management</div>
          </div>
          <div class="column">
            <div class="">
              <input type="checkbox" v-model="newRole.permissions.farmers.create">
            </div>
            <div class="">Create farmer</div>
          </div>
          <div class="column">
            <div class="">
              <input type="checkbox" v-model="newRole.permissions.farms.create">
            </div>
            <div class="">Create farm</div>
          </div>
          <div class="column">
            <div class="">
              <input type="checkbox" v-model="newRole.permissions.labourers.create">
            </div>
            <div class="">Create Labourer</div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui button green-bg" v-on:click="createRole()">Approve</div>
      <div class="ui cancel button red-bg">Cancel</div>
    </div>
  </div>
</div>

<%= render 'organizations/user_and_role/scripts' %>