<div id="user-role">
  <%= render "static_pages/nav" %>
  <div class="green-bg pad1 padb3">
    Stats
  </div><br>
  <div class="card raise-1 w90p hcenter neg-marg-top3">
    <div class="ui top attached tabular menu">
      <div id="users-tab" class="active item">Users</div>
      <div id="roles-tab" class="item">Roles</div>
    </div>
    <div id="users-tab-panel" class="ui bottom attached tab active">
      <div class="text-center" v-if="users.length < 1">
        <%= image_tag 'users128.png' %>
				<h3 >There is no user in this organizations.</h3>
      </div>
      <tbody-user :users="filteredUsers"  v-if="users.length > 0"></tbody-user>       
      <div class="ui button green-bg" v-on:click="toggleNewUserModal()">
        Add User
      </div>
    </div>
    <div id="roles-tab-panel" class="ui bottom attached tab">
      <h3>This is where you specify the level of access of a role</h3>
      <hr>
      <div class="ui equal width grid">
        <div class="column">
          <div v-if="roles.length < 1" class="text-center">
            <%= image_tag 'users128.png' %>
            <h3 >This organizations has no role specified.</h3><br>
          </div>
          <div v-for="role in roles" class="list-item" v-on:click="selectRole(role)">
            <span class="right-icon-grey" @click="setCache(role); toggleEditRoleModal();"><i class="write icon"></i></span>
            <span class="right-icon-grey" @click="setCache(role); toggleDeleteRoleModal();"><i class="trash red icon"></i></span>
            {{role.name}}
          </div>
          <div class="ui button green-bg" v-on:click="toggleNewRoleModal()">
            Add Role
          </div>
          <div id="new-user-modal" class="ui modal">
            <div class="content">              
              <h3>New User</h3>
              <div class="form-group w100p-rounded">
                <label for="">First name</label><br>
                <input type="text" v-model="newUser.fname">
              </div>
              <div class="form-group w100p-rounded">
                <label for="">Last name</label>
                <input type="text" v-model="newUser.lname">              
              </div>
              <div class="form-group w100p-rounded">
                <label for="">Phone</label>
                <input type="text" v-model="newUser.phone">              
              </div>
              <div class="form-group w100p-rounded">
                <label for="">Email</label>
                <input type="text" v-model="newUser.email">              
              </div>
            </div>
            <div class="actions">
              <div class="ui button green-bg" v-on:click="createUser();">Add</div>
              <div class="ui button red-bg">Cancel</div>
            </div>
          </div>
        </div>
        <div class="column">
          <p>Permissions <span v-if="selectedRole.name"><strong>{{selectedRole.name}}</strong></span></p>
          <!--<p>{{selectedRole.permissions}}</p>-->
          <div class="ui styled fluid accordion">
            <div v-for="(module, pos) in permissions" class="">
              <div class="title" v-bind:class="{active : (pos == 0)}">
                <i class="dropdown icon"></i> {{module.name}}
              </div>
              <div class="content" v-bind:class="{active : (pos == 0)}">
                <div v-for="model in module.models">
                  <!--<div v-if="!(selectedRole.permissions[model.name])">
                    Not permitted
                  </div>-->
                  <div v-if="selectedRole.permissions[model.name] && selectedRole.permissions[model.name][model.method]">
                    {{model.message}} <i class="check icon"></i>
                  </div>
                </div>
                <!--<div v-if="selectedRole.permissions[model.name].length < 1">
                  None
                </div>-->
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <div id="user-info-modal" class="ui modal">
    <div class="ui equal width grid">
      <div class="column text-center">
        <%= image_tag 'farm128.png', class:"circle shad", alt:"User image" %>
      </div>
      <div class="column text12">
        <h2>User information</h2>
        <div class="text2">{{userInfo.name}}</div><br>
        <div>{{userInfo.size}}</div>
      </div>
    </div>
  </div>

  <div id="change-role-modal" class="ui small modal pad1">
    <p><h3>Please choose a role</h3></p>
    <div v-for="role in roles" class="list-item" @click.prevent="addRole(role)">
      {{role.name}}
    </div>
  </div>

  <div class="ui modal" id="new-role-modal">
    <div class="content">
      <div class="form-group">
        <input class="classic" type="text" placeholder="Role name" v-model="cache.name">
      </div>
      <hr>
      <p>Permissions</p>
      <p>By checking a property, you are giving a role the ability to do what is checked</p>
      <div class="ui styled fluid accordion">
        <div class="" v-for="(permission, pos) in permissions">
          <div class="title" v-bind:class="{active : (pos == 0)}">
            <i class="dropdown icon"></i> {{permission.name}}
          </div>
          <div class="content h400-max scroll-y" v-bind:class="{active : (pos == 0)}">
            <div class="ui stackable doubling three column grid">
              <div class="column" v-for="model in permission.models">
                <span class="">
                  <input type="checkbox" v-model="cache.permissions[model.name][model.method]">
                </span>
                <span class="">{{model.message}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
        
      <!--<div class="ui styled fluid accordion">
        <div class="active title">
          <i class="dropdown icon"></i> Farmer and labour
        </div>
        <div class="active content h400-max scroll-y">
          <div class="ui stackable doubling three column grid">
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.organizations.farm_and_labour">
              </span>
              <span class="">Access farm and labour management</span>
            </div>
            <div class="column" v-bind:class="{ inactive: !farmLabourAccessible }">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.farmers.create">
              </span>
              <span class="">Create farmer</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.farms.create">
              </span>
              <span class="">Create farm</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.labourers.create">
              </span>
              <span class="">Create Labourer</span>
            </div>
          </div>
        </div>
        <div class="active title">
          <i class="dropdown icon"></i> User and Role
        </div>
        <div class="content h400-max scroll-y">
          <div class="ui stackable doubling three column grid content">
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.organizations.user_and_role">
              </span>
              <span class="">Access User and Role management</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.roles.create">
              </span>
              <span class="">Create role</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.roles.update">
              </span>
              <span class="">Change role permission</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.roles.add_role">
              </span>
              <span class="">Change member role</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.roles.destroy">
              </span>
              <span class="">Delete role</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.memberships.create">
              </span>
              <span class="">Add member</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.memberships.destroy">
              </span>
              <span class="">Remove member</span>
            </div>
          </div>
        </div>
        <div class="active title">
          <i class="dropdown icon"></i> Location and Hierarchy
        </div>
        <div class="content h400-max scroll-y">
          <div class="ui stackable doubling three column grid content">
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.organizations.location_and_hierarchy">
              </span>
              <span class="">Access Location and Hierarchy management</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.locations.create">
              </span>
              <span class="">Create Location</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.location_types.create">
              </span>
              <span class="">Create Hierarchy</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.locations.destroy">
              </span>
              <span class="">Delete Location</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.location_types.destroy">
              </span>
              <span class="">Delete Hierarchy</span>
            </div>
          </div>
        </div>
        <div class="active title">
          <i class="dropdown icon"></i> Stock management
        </div>
        <div class="content h400-max scroll-y">
          <div class="ui stackable doubling three column grid content">
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.organizations.stock_management">
              </span>
              <span class="">Access stock management</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.stock_types.create">
              </span>
              <span class="">Create and Edit stock-types</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.stock_types.destroy">
              </span>
              <span class="">Delete stock-types</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.stock_items.create">
              </span>
              <span class="">Create and Edit stock-items</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.stock_items.destroy">
              </span>
              <span class="">Delete stock-items</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.incoming_stocks.create">
              </span>
              <span class="">Create and Edit incoming stocks</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.incoming_stocks.destroy">
              </span>
              <span class="">Delete incoming stocks</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.sources.create">
              </span>
              <span class="">Create and Edit sources</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.sources.destroy">
              </span>
              <span class="">Delete sources</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.stored_stocks.create">
              </span>
              <span class="">Create and Edit stored stocks</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.stored_stocks.destroy">
              </span>
              <span class="">Delete stored stocks</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.storages.create">
              </span>
              <span class="">Create and Edit storages</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.storages.destroy">
              </span>
              <span class="">Delete storages</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.customers.create">
              </span>
              <span class="">Create and Edit customers</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.customers.destroy">
              </span>
              <span class="">Delete customers</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.orders.create">
              </span>
              <span class="">Create orders</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.orders.destroy">
              </span>
              <span class="">Delete orders</span>
            </div>
            <div class="column">
              <span class="">
                <input type="checkbox" v-model="cache.permissions.outgoing_stocks.create">
              </span>
              <span class="">Process orders</span>
            </div>
          </div>
        </div>
      </div>-->
    </div>
    <div class="actions">
      <div class="ui button green-bg" v-on:click="createRole()">Approve</div>
      <div class="ui cancel button red-bg">Cancel</div>
    </div>
  </div>

  <div class="ui modal" id="edit-role-modal">
    <div class="content">
      <div class="form-group">
        <input class="classic" type="text" placeholder="Role name" v-model="cache.name">
      </div>
      <hr>
      <p>Permissions</p>
      <p>By checking a property, you are giving a role the ability to do what is checked</p>
      <div class="ui styled fluid accordion">
        <div class="" v-for="(permission, pos) in permissions">
          <div class="title" v-bind:class="{active : (pos == 0)}">
            <i class="dropdown icon"></i> {{permission.name}}
          </div>
          <div class="content h400-max scroll-y" v-bind:class="{active : (pos == 0)}">
            <div class="ui stackable doubling three column grid">
              <div class="column" v-for="model in permission.models" 
                v-if="Boolean(cache.permissions) && Boolean(cache.permissions[model.name])">
                <span class="">
                  <input type="checkbox" 
                    v-model="cache.permissions[model.name][model.method]"
                    v-bind:id="'edit-role-'+ model.name +'-'+ model.method "
                    v-bind:value="Boolean(cache.permissions[model.name][model.method])">
                </span>
                <span class="">{{model.message}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <div class="ui button accent-bg" v-on:click="updateRole()">Approve</div>
      <div class="ui cancel button red-bg">Cancel</div>
    </div>
  </div>
  <div id="delete-role-modal" class="ui small modal">
    <div class="content">
      <p>Are you sure you want to delete this role?</p> 
      <p></p><h1>All members with this role will have no role in this Organization</h1>
      <p></p>
    </div>
    <div class="actions">
      <div class="ui accent-bg button" @click="deleteRole()">Yes</div> 
      <div class="ui red-bg button">No</div>
    </div>
  </div>
</div>

<%= render 'organizations/user_and_role/scripts' %>