<div id="labourer_show">
  <%= render "static_pages/nav" %>
  <div class="stat-bar green-bg ui grid">
    <div class="four wide column row">
      <div class="four wide column text-center">
        <%= image_tag @labourer.image.url(:thumb), class:"circle" %>
        <!--<%= image_tag "labourer64.png", class:"wmax100 circle" %>-->
      </div>
      <div class="twelve wide column">
        <div class="text15"><%= @labourer.fname %> <%= @labourer.lname %></div>
        <div class="text1"><%= @labourer.phone %></div>
        <div>Village name</div>
        <div  @click.prevent="openEditModal()"><i class="ui write icon"></i> Edit</div>
      </div>
    </div>
    <div class="twelve wide column">
      <div id="labourer-card" class="overlap card raise-1 text12 dark-text1">      
        <div class="card-menu-tr text15" v-on:click="showDeleteModal();"><i class="trash icon"></i></div>  
        <div id="labourer-holder">
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>
          dfdjhfjdhfjhfd <br>

        </div>
    </div>
  </div>
  <div id="edit_form" class="ui modal w500">
    <div class="center">
      <h3>Edit Labourer</h3>
      <%= render "form" %>
    </div>
  </div>

  <div id="labourer-delete" class="ui small modal">
    <!--<div class="header">Header</div>-->
    <div class="content">
      <p>Are you sure you want to delete this labourer?</p>
      <p><h1>All data linked to this labourer will be deleted</h1></p>
    </div>
    <div class="actions">
      <div class="ui green-bg button" v-on:click="deleteLabourer()" >Yes</div>
      <div class="ui red-bg button" v-on:click="showDeleteModal()">No</div>
    </div>
    <p></p>
  </div>
  
  <!--<%= link_to 'Edit', edit_organization_labourer_path(@organization, @labourer)  %> |
  <%= link_to 'Back', organization_farm_and_labour_path(@organization) %>-->
</div>
<script>
  var labourerShow = new Vue({
    el: "#labourer_show",
    data: {},
    methods: {
      openEditModal: function(){
        $('#edit_form.modal').modal("show");
        //return false;
      },
      showDeleteModal: function(){
        $('#labourer-delete.modal').modal('toggle');
      },
      deleteLabourer: function(){
        $.ajax({
          url: '/organizations/<%= @organization.id %>/labourers/<%= @labourer.id %>.json',
          method: "DELETE",
          success: function(res){
            if(Boolean(document.referrer)){
              window.location = document.referrer;
            }else{
              window.history.back();
            }
          }, 
          error: function(err){ console.log(err.message)}
        });
      }
    }
  });
</script>
