<!DOCTYPE html>
<html>
<head>
  <title>Alsa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag params[:controller] %>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
  <%= csrf_meta_tags %>
</head>
<body>

    <% flash.each do |key, value| %>
      <%= content_tag(:div, class: "alert alert-#{key}") do %>
        <span id="alicon" class="circle square"></span> <span><%= value %></span>
      <% end %>
    <% end %>

<%= yield %>
<div id="modal" class="ui modal">
  Modal
</div>

</body>
</html>
