<!DOCTYPE html>
<html>
<head>
  <title>Alsa</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag params[:controller] %>
  <%= stylesheet_link_tag params[:controller] %>
  <%= render partial: 'layouts/favicon' %>
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="alert-holder" class="">
    <% flash.each do |key, value| %>
      <div class="text-right pad1">
        <%= content_tag(:span, class: "alert alert-#{key}") do %>
          <span><%= value %></span> <i class="remove icon" onclick="removeAlert()"></i>
        <% end %>
      </div>
    <% end %>
  </div>

<%= yield %>
<div id="modal" class="ui modal">
  Modal
</div>

</body>
</html>
